/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; /* Match the review section */
}

/* Header styling */
header {
    background-color: #2f2434;
    color: white;
    padding: 20px 0;
}

header .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding-top: 15px;
}

nav ul li {
    display: inline;
    margin-left: 20px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}
  
/* Footer Styling */
footer {
    background: #2f2434;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    margin-top: 10px;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}