<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Search Portal</title>
    <link rel="stylesheet" href="../style/styles.css">
    <link rel="stylesheet" href="../style/findjobs.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <div class="container">
            <h1 class="logo">WebPro</h1>
            <nav>
                <ul>
                    <li><a href="HomePage.html">Home</a></li>
                    <li><a href="FindJobs.html">Find Jobs</a></li>
                    <li><a href="AboutUs.html">About Us</a></li>
                    <li><a href="SignUp.html">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Intro Section -->
    <section class="header-findjob">
        <div class="findjob-container">
            <img src="../../images/aboutUs/Rectangle 18.png" alt="rec" class="rectangle"> 
            <h2>Find Jobs</h2>
        </div>
        <nav class="linktopage">
            <a href="HomePage.html">Home</a> /
            <a href="#">Page</a> /
            <span class="current-page">Find Jobs</span>
        </nav>
    </section>

    <!-- Search Section -->
    <section class="search-section">
        <div class="container">
            <form id="job-filter-form" class="search-form" action="" method="GET">
                <input id="keyword" type="text" name="keyword" placeholder="Enter job title, keywords" >
                <input id="location" type="text" name="location" placeholder="Enter Location" >

                <select id="category" name="category" >
                    <option value="">Select Category</option>
                    <option value="IT & Software">IT & Software</option>
                    <option value="Finance">Finance</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Design">Design</option>
                </select>

                <button type="submit" class="search-button">Search Jobs</button>
            </form>
        </div>
    </section>

    <!-- Featured Jobs Section -->
    <section class="featured-jobs">
        <div class="container">
        <h2>Featured Jobs</h2>
        <ul id="job-listings"></ul> 

        <!-- Pagination Controls -->
        <div id="pagination-controls" class="pagination">
        </div>
        
    </div>

        <script src="../../source/job-list.js"></script>
    </section>


    <!-- Footer Section -->
    <footer>
        <div class="container">
            <p>&copy; 2024 WebPro - Group 7. All rights reserved.</p>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer>
</main>

  

</body>
</html>
